In [11]:
# Lecture 37, notes by Akhona Njeje.
# Date 7 Feb 2023.
# Pandas its built on top of numpy.
# It allows for fast Analysis & data cleaning plus preparation.

# Playing games on DB using Pandas as our tool.

import pandas as pd
import numpy as np

Sal = pd.read_csv('Salaries.csv')

C:\Users\Akhona.Njeje\AppData\Local\Temp\ipykernel_10120\1706542986.py:11: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  Sal = pd.read_csv('Salaries.csv')

In [5]:
Sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
# How many entries are in this dataset?

Sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [24]:
# Whats the everage basepay?On this Salary dataset.
# Note : basepay is a column we need info from we need dont need other columns.


print(np.mean(Sal['BasePay']))   # Your code.

In [23]:
mean_value = np.mean(Sal['BasePay'])
result = "The mean BasePay is: " + str(mean_value)
print(result)   # CahtGPT code.

In [22]:
# Highest amount paid on the overtime.

Sal['OvertimePay'].int(max())

In [27]:
# What is THE Job TITLE of JOSEPH DRISCOLL?

Sal[Sal['EmployeeName'] == 'JOSEPH DRISCOLL']   # Hes title is Captain.

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [28]:
# How much does he(JOSEPH DRISCOLL) make?

Sal[Sal['EmployeeName'] == 'JOSEPH DRISCOLL']   # 270324.91.

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [29]:
Sal[Sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [32]:
# Whats the name of the highest paid person in the database including benefits?

Sal['TotalPayBenefits'].max()   # This code gets the amount, name?
Sal[Sal['TotalPayBenefits'] == Sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [35]:
# Another advance method of finding the highest paid.

Sal.loc[Sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [36]:
# Whats the name of the person paid the least(Min pay) including benefits.

Sal.loc[Sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                   0.00
OvertimePay                               0.00
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [38]:
# Whats the average (mean) BasePay of all employees peryear(2011 - 2014)?

Sal.groupby('Year').mean()['BasePay']

In [40]:
# hOW MANY unique job titles are there?

len(Sal['JobTitle'].unique())

2159

In [41]:
# What are the top 5 mosty common jobs?

Sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [43]:
# How many job titles were reprsented by only one person in 2013?

sum(Sal[Sal['Year'] == 2013]['JobTitle'].value_counts() == 1)

202

In [45]:
# How many people have chief in there job title?

def Chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [46]:
Chief_string('Chief Exec')   # True cause the Title = Chief Exec wich has Chief in it.

True

In [47]:
sum(Sal['JobTitle'].apply(lambda x: Chief_string(x)))   # 477 have Chief in there job titles.

477

In [48]:
# Is there a correlation between length of the Job tilte string & salary?

Sal['Title_Len'] = Sal['JobTitle'].apply(len)

In [49]:
Sal[['JobTitle', 'Title_Len']]

                                              JobTitle  Title_Len
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY         46
1                      CAPTAIN III (POLICE DEPARTMENT)         31
2                      CAPTAIN III (POLICE DEPARTMENT)         31
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC         36
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)         44
...                                                ...        ...
148649                                       Custodian          9
148650                                    Not provided         12
148651                                    Not provided         12
148652                                    Not provided         12
148653                      Counselor, Log Cabin Ranch         26

[148654 rows x 2 columns]

In [51]:
Sal[['TotalPayBenefits', 'Title_Len']].corr()   # Theres no correaltion.

                  TotalPayBenefits  Title_Len
TotalPayBenefits          1.000000  -0.036878
Title_Len                -0.036878   1.000000